@model VideoRental.WebApp.Models.LoginVM
<h1>Sign in</h1>
<h3>
    If you don't have an account:
    <a asp-action="Register" asp-controller="Account">Sign up</a>
</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </form>
    </div>
</div>​